<!DOCTYPE html>
<html>
<head>
  <title>Chill Sesh</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper #01579b light-blue darken-4">
        <a href="" class="brand-logo left">Chill Sesh</a>
        <ul class="right">
          <li><a href="/events/new">Post Event</a></li>
          <!-- Place Login UI Here -->
            <!-- new html below -->
            <li>
            <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
            </li>
        </ul>
      </div>
    </nav>
  </div>
  <header class="container">
  </header>
  <main class="container">
   <% events.forEach(function (event, idx) { %>
   

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><%= event.eventName %></h2 >
      <label>Location</label>
      <p><%= event.location %> </p>
      <label>Date</label>
      <p><%= event.date %></p>
      <a href='/events/<%= event._id %>' class="btn btn-primary">Details</a>
    </div>
    
  </div>
</div>

   <% }) %>
  </main>
</body>
</html>